
{{#each errors}}
    <div class="alert alert-danger errormsg" >שגיאה: {{text}}</div>
{{else}}
{{/each}}

{{#if error}}
    <div class="alert alert-danger errormsg">שגיאה: {{error}}</div>
{{else}}
{{/if}}
