<div class="wrapper row4" >
  <footer id="footer" style="text-align: right">
    <div class="row">
      <div class="col order-last pencolor " style="margin-right:55px;">
        <h6 class="boldheader"><a href="/store/gallery#here" class="linkcolor">המוצרים שלנו </a></h6>
        <div class="row">
          <div class="col">
            {{#each category}}
            <li><i class="fa fa-hand-o-left" aria-hidden="true"></i> <a href="/store/gallery/{{galleryTitle}}">{{galleryTitle}}</a></li>
            {{/each}}
          </div>
        </div>
      </div>
      
      <div class="col order-first" >
        <h6 class="boldheader"><a href="/contact_us#here" class="linkcolor" style="margin-right:20px;">צור קשר</a></h6>
        <ul class="nospace btmspace-30 linklist contact">
          <li><a class="linkcolor" href="https://goo.gl/maps/BLKtTnVW6uNWoRm4A">
              <i class="fa fa-map-marker"></i>
              <address>
                מיקום: ז'בוטינסקי 84, בני ברק
              </address>
            </a>
          </li>
          <li><a class="linkcolor" href="mailto:m7210118@gmail.com">
              <i class="fa fa-envelope-o"></i>אימייל: M7210118@gmail.com</li></a>
          <li><a class="linkcolor" href="#"><i class="fa fa-phone"></i> נייד: 052-7210118, דפוס: 03-5785751</a></li>
        </ul>
        <ul class="faico clear facebookMobileWidth" style="margin-right:20px;">
          <a class="facebook linkcolor" href="https://www.facebook.com/profile.php?id=100014105476242">דף
            הפייסבוק שלנו</a>
          <a class="faicon-facebook" href="https://www.facebook.com/profile.php?id=100014105476242">
            <i class="fa fa-facebook"></i></a>
        </ul>
      </div>
    </div>
    <!-- ################################################################################################ -->
  </footer>
</div>
<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2019 - All Rights Reserved - <a href="/">Dfus Reuven,</a></p>
    <p class="fl_right">כל הזכויות שמורות <a href="/">לדפוס ראובן</a></p>
    <!-- ################################################################################################ -->
  </div>
</div>