<div class="wrapper row4" >
  <footer id="footer" class="hoc clear" style="text-align: right"> 
    <!-- ################################################################################################ -->
    
    <div class="one_half first pencolor">
      <h6 class="boldheader"><a href="/pages/gallery#here" class="linkcolor" >צור קשר</a></h6>
      <div class="row">
        <div class="col-sm-5 afterline">
          <li><a href="#">פנקסים</a></li>
          
          <li><a href="#">חוברות</a></li>
          
          <li><a href="#">פליירים</a></li>
          <li><a href="#">פנקסים</a></li>
        </div>
        <div class="col-sm-5 afterline" style="margin-right:-13.5%">
          <span class="dot"></span><li><a href="#">פנקסים</a></li>
          <li><a href="#">פנקסים</a></li>
        </div>
      </div>
    </div>
    
    <div class="one_half" style="padding-left:6.6%">
      <h6 class="boldheader"><a href="/pages/contact_us#here" class="linkcolor" >צור קשר</a></h6>
      <ul class="nospace btmspace-30 linklist contact">
        <li><a class="linkcolor"
        href="https://goo.gl/maps/BLKtTnVW6uNWoRm4A">
        <i class="fa fa-map-marker"></i>
          <address>
            מיקום: ז'בוטינסקי 84, בני ברק
          </address>
          </a>
        </li>
        <li><a class="linkcolor" href ="https://mail.google.com/mail/u/0/#inbox?compose=CllgCHrjDqNMcPdKSBRdlSNmDKGJNDbkVFFnMDDTpSQRMzKwcFbSHxwxWwHzKkkmqJZwbWwPzML">
        <i class="fa fa-envelope-o"></i>אימייל: M7210118@gmail.com</li></a>
        <li><a class="linkcolor" href="#"><i class="fa fa-phone"></i> נייד: 052-7210118, דפוס: 03-5785751</a></li>
      </ul>
      <ul class="faico clear">
          <a style="width:40%" class="facebook linkcolor" href="https://www.facebook.com/profile.php?id=100014105476242">דף הפייסבוק שלנו</a>
        
        <li><a class="faicon-facebook" href="https://www.facebook.com/profile.php?id=100014105476242"><i class="fa fa-facebook"></i></a></li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </footer>
</div>
<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2019 - All Rights Reserved - <a href="/home">Dfus Reuven,</a><a href="https://www.os-templates.com/"> OS Templates</a></p>
    <p class="fl_right">כל הזכויות שמורות <a href="/home">לדפוס ראובן</a><a target="_blank" href="https://www.os-templates.com/" title="Free Website Templates">, OS Templates</a></p>
    <!-- ################################################################################################ -->
  </div>
</div>