<div class="wrapper row0">
  <div id="topbar" style="font-size:1.2rem"> 
    <!-- ################################################################################################ -->
    <ul>
      {{#unless user}}
        <li><a href="/login#here"> התחברות לאתר </a> <a href="login" title="התחברות לאתר"><i class="fa fa-lg fa-sign-in"></i></a></li>
        <li><a href='/register#here'> הרשמה לאתר </a><a href="register" title="Sign Up"><i class="fa fa-lg fa-edit"></i></a></li>
      {{/unless}}
      {{#if user}}
        <li><a href="/profile"> חשבון <i class="fa fa-lg fa-user"></i></a></li>
      {{/if}}
      
      <li> ראשון - חמישי. 9:00-17:30 <i class="fa fa-clock-o"></i></li>
      <li><a href="#" title="נייד / עבודה"> 052-7210118 / 03-5785651</a><i class="fa fa-phone"></i></li>
      <li><a class="linkcolor" href ="https://mail.google.com/mail/u/0/#inbox?compose=CllgCHrjDqNMcPdKSBRdlSNmDKGJNDbkVFFnMDDTpSQRMzKwcFbSHxwxWwHzKkkmqJZwbWwPzML"
       title="אימייל"> m7210118@gmail.com</a><i class="fa fa-envelope-o"></i></li>
      <li></li>
    </ul>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row1">
  <header id="header"> 
      <div class="gridLogoCart">
        <div class="gridLogo">
          <a href="/">
            <img src="/images/Pictures/logo michal.jpg" id="dfuslogo" alt="דפוס ראובן">  
          </a>
        </div>
        <div class="gridCart">
          Cart
        </div>
      </div>
    <!-- <div class="fl_right">
    </div> ################################################################################################ -->
  </header>
</div>
<div class="bgded row2 ">
    <div class="wrapper row2 ">
        <nav id="mainav">
          <div style="font-weight:600">
            <!-- ################################################################################################ -->
            <ul>
              <li class="active" ><a href="/">בית</a></li>
              <li style="margin-right:4%" id="here"><a href="/store/gallery#here">המוצרים שלנו</a></li>
              <li style="margin-right:4%" id="here"><a href="/about_us#here"> קצת עלינו</a></li>
              <li style="margin-right:4%" id="here"><a href="/contact_us#here">צור קשר</a></li>
            </ul>
          </div>
            <!-- ################################################################################################ -->
        </nav>
    </div>
</div>
<hr class="nomargin">
