
<!--
Template Name: Drywest
Author: <a href="https://www.os-templates.com/">OS Templates</a>
Author URI: https://www.os-templates.com/
Licence: Free to use under our free template licence terms
Licence URI: https://www.os-templates.com/template-terms
-->

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Top Background Image Wrapper -->
<div class="bgded" style="background-image:url('images/demo/backgrounds/233.jpg');"> 
  <!-- ################################################################################################ -->
  
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper overlay" >
      <article id="pageintro" class="hoc clear">
        <!-- ################################################################################################ -->
        <h3 class="heading" style="margin-top:-10%">שילוט והדפסה</h3>
    <div>
      <p>דפוס שילוט וגרפיקה</p>
    </div>
    <div>
      <footer><a href="/pages/gallery#here" class="special" style="text-decoration: none">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <h2 class="productsgradient">המוצרים שלנו</h2>
      </a></a></footer>
    </div>
      <!-- ################################################################################################ -->
    </article>
  </div>
  <!-- ################################################################################################ -->
</div>
<!-- End Top Background Image Wrapper -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
