<div class="backgroundMain"> 
  <article id="pageintro">
    <div id="dfusLogo2"><img src="images/dfusLogo2.png" style="position:relative; z-index: 1; margin-top:-10%;"></div>
    <div>
      <footer><a href="/pages/gallery#here" class="special" style="text-decoration: none; z-index:1">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <h2 class="productsgradient">המוצרים שלנו</h2>
        </a></a></footer>
    </div>
    <!-- ################################################################################################ -->
  </article>
  <div class="after" style=""></div>
</div>
  <!-- ################################################################################################ -->

<hr style="border: 2px solid rgb(86, 86, 221); width:99%;">
<div>
  <div class="container containerIndex" style="padding-right:1%">
    <h1 style="text-align: center; padding: 0% 0 4% 0; margin-top:-2%;color:#FF4136 ">למה דפוס ראובן ?</h4>
    <div class="row " style="text-align: center; color:#85144b">
      <div class="col" style="">
        <p>30 שנות ניסיון</p>
        <i class="fa fa-trophy"  aria-hidden="true"></i>
      </div>
      <div class="col" style="">
        <p>שירות מקצועי ואישי</p>
        <i class="fa fa-trophy"  aria-hidden="true"></i>
      </div>
      <div class="col" style="">
        <p>מחיר הטוב ביותר</p>
        <i class="fa fa-trophy" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>

