
<!--
Template Name: Drywest
Author: <a href="https://www.os-templates.com/">OS Templates</a>
Author URI: https://www.os-templates.com/
Licence: Free to use under our free template licence terms
Licence URI: https://www.os-templates.com/template-terms
-->

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Top Background Image Wrapper -->
<div class="bgded" style="background-image:url('images/demo/backgrounds/233.jpg');"> 
  <!-- ################################################################################################ -->
  
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper overlay" >
      <article id="pageintro" class="hoc clear">
        <!-- ################################################################################################ -->
        <h3 class="heading" style="margin-top:-10%">דפוס שילוט וגרפיקה</h3>
    <div>
      <p></p>
    </div>
    <div>
      <footer><a href="/pages/gallery#here" class="special" style="text-decoration: none">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <h2 class="productsgradient">המוצרים שלנו</h2>
      </a></a></footer>
    </div>
      <!-- ################################################################################################ -->
    </article>
  </div>
  <!-- ################################################################################################ -->
</div>
<hr style="border: 2px solid rgb(86, 86, 221); width:99%;">
<div style="background-color: rgb(243, 233, 197);">
  <div class="container containerIndex" style="padding-right:1%">
    <h1 style="text-align: center; padding: 0% 0 4% 0; margin-top:-2%;color:#FF4136 ">למה דפוס ראובן ?</h4>
    <div class="row " style="text-align: center; color:#85144b">
      <div class="col" style="">
        <p>30 שנה של ניסיון</p>
        <i class="fa fa-trophy"  aria-hidden="true"></i>
      </div>
      <div class="col" style="">
        <p>שירות מקצועי ואישי</p>
        <i class="fa fa-trophy"  aria-hidden="true"></i>
      </div>
      <div class="col" style="">
        <p>מחיר הטוב ביותר</p>
        <i class="fa fa-trophy" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>

<!-- End Top Background Image Wrapper -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
