<div class="row" style="margin: 0 auto; font-size:50px; background-color:burlywood; ">
    <p class="mx-auto">{{statusCode}}</p>
    <hr style="width:100%">
    <p class="mx-auto">{{errorText}}</p>
</div>