<div class="row" style="font-size:18px; font-family:alef-regular,sans-serif; font-weight:400">
        <div class="container" style="margin-top:-10%; margin-bottom:16%">
            <div class="one-half" style="text-align: right">
                <div class="mb-3">
                    <h1>אודותינו</h1>
                </div>
                <div>
                    <h6>דפוס ראובן</h6>
                </div>
                <div>
                    <p>לדפוס ראובן וותק מעל ל 50 שנה, עסקים, מוסדות, עמותות, ועוד לקוחות רבים בכל הארץ נהנים ממתן שירות חם ועדיב לכל לקוח!<i class="fa fa-heart-o" aria-hidden="true"></i></p>
                    <p style="line-height: 2px"></p>
                    
                    <br>
                    <p>ממקום בבני ברק, ונגיש בקלות לבאים מחוץ לעיר.</p>
                    <p><b>אפשרות למשלוחים לכל רחבי הארץ.</b></p>
                </div>
                <div>
                    <p>התמחויותיו של דפוס ראובן:</p>
                    <ul>
                        <li style="list-style-type:disc">הדפסות מגוונות: כרטיסי ביקור, פליירים, ספרים, הדפסה על שמשוניות, מעטפות, הדפסת חשבוניות וקבלות, חוברות ופרוספקטים,
  הזמנות לאירועים ועוד. עבודות הדפוס מבוצעות על ידי הצוות המקצועי המיומן שלנו בצורה הטובה ביותר ובאיכות מצטיינת, תוך הקפדה
  על עמידה בלוח הזמנים המבוקש. </li>
                        
                        <li style="list-style-type:disc">עיצוב גרפי: צוות מעצבות מקצועיות יעצבו עבורכם כל עבודה, החל מהזמנות לאירועים, דרך פליירים מסחריים וכלה בעבודות מורכבות
  יותר – כולל עיצובי לוגו וקטלוגים. </li>
                    </ul>
                </div>
                <br>
                <div>
                    <p>פניות אלינו:</p>
                </div>
                <div>
                    <p>||||||</p>
                    <p>הנכם מוזמנים לפנות אלינו דרך <a href="/contact_us">האתר </a>או דרך שליחת <a href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCHrjDqNMcPdKSBRdlSNmDKGJNDbkVFFnMDDTpSQRMzKwcFbSHxwxWwHzKkkmqJZwbWwPzML">מייל</a>.</p>
                    <p>רחוב ז'בוטינסקי 84, בני ברק. טלפון: 052-7210118 || 03-5785651</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6" style="text-align: right">
        <div class="container">
            <div class="one-half first">
                <div>
                    h1
                </div>
            </div>
        </div>
    </div>
    
</div>