<!DOCTYPE html>
<html lang="he">
<head>
<title>התחבר לאתר</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="liron" content="דפוס ראובן">
<!-- description -->
<meta name="description" content="Login Form - Responsive Template">
<link rel="shortcut icon" href="images/favicon.ico">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/styles/loginstyles/bootstrap.min.css">
<!-- Material Design Icons CSS -->
<link rel="stylesheet" href="/styles/loginstyles/materialdesignicons.css">
<!-- Bootstrap Checkbox CSS -->
<link rel="stylesheet" href="/styles/loginstyles/awesome-bootstrap-checkbox.css">
<!-- Rippler CSS -->
<link rel="stylesheet" href="/styles/loginstyles/rippler.min.css">
<!-- Style CSS -->
<link rel="stylesheet" href="/styles/loginstyles/style.css">
<!-- Responsive  CSS -->
<link rel="stylesheet" href="/styles/loginstyles/responsive.css">
</head>
<body>
<div class="loginDiv" style="height:600px;">
	<div class="container py-2">
		<div class="row">
			<div class="col-md-12">
				<div class="logo">
					<a href="#">
						<i class="fa fa-sign-in" aria-hidden="true" ></i>
					</a>
				</div>
				<div class="row">
					<div class="col-md-6 login-form mx-auto">
						<!-- form card login -->
						<div class="card">
							<div class="card-header">
								<h3 class="mb-0">התחברות לאתר</h3>
							</div>
							<div class="card-body">
								<form id="formLogin" method="POST" class="formLogin" action="/login">
									<div class="form-group">
										<input type="text" class="form-control" name="email" placeholder="כתובת אימייל"
											required="">
										<i class="mdi mdi-account" style="margin-right: -0.5%"></i>
									</div>
									<div class="form-group">
										<input for="password" type="password" name="password" class="form-control"
											placeholder="סיסמה" id="password" required="">
										<i class="mdi mdi-onepassword" style="margin-right: -0.85%"></i>
									</div>
									<div class="row mb-3">
										<div class="col-md-6">
											<div class="checkbox checkbox-primary text-right">
												<input id="checkbox1" class="styled" style="margin-top:-5%"
													type="checkbox">
												<label for="checkbox1">
													זכור אותי
												</label>
											</div>
										</div>
										<div class="col-md-6 text-left">
											<a href="#" class="colorlink">שכחת סיסמה?</a>
										</div>
									</div>
									<div class="row mb-3">
										<div class="col-lg-12 text-center"><button type="submit"
												class="btn btn-success rippler btn-wd rippler-default"
												id="btnLogin">כניסה</button></div>
									</div>
								</form>
								<div class="naw-text mb-3">
									<h5>חדש באתר?</h5>
								</div>
								<div class="row">
									<div class="col-lg-12">
										<div class="create-box text-block text-center my-0">
											<span class="text-small font-weight-semibold">לא נרשמת?</span>
											<a href="/register" class="text-black text-small">הרשם פה!</a>
										</div>
									</div>
								</div>
							</div>
							<!--/card-block-->
							<div class="card-footer">
								<div class="copy-text">Created with <i class="fa fa-heart"></i> by <a
										href="http://html.design/">html.design</a></div>
							</div>
						</div>
						<!-- /form card login -->
					</div>
				</div>
				<!--/row-->
			</div>
			<!--/col-->
		</div>
		<!--/row-->
	</div>
	<!--/container-->
</div>

</body>
</html>